.form__button {
  min-height: 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  margin: 0;
  cursor: pointer;
  transition: opacity .4s;
  color: white;
  font-family: inherit;
  border-radius: 2px;
  width: 100%;
  padding: 0;
}

.form__button:hover {
  opacity: .8;
}

.form__button:focus {
  outline-color: #4992d6;
}

.form__button[type="submit"] {
  background-color: rgb(0, 0, 0);
}

@media screen and (max-width: 440px) {
  .form__button {
    font-size: 14px;
    line-height: 17px;
    min-height: 46px;
  }
}