.element__trash-button {
    position: absolute;
    padding: 0;
    width: 18px;
    height: 19.3px;
    top: 18px;
    right: 15px;
    background-image: url(../../../images/Trash.svg);
    background-position: center center;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    transition: opacity .4s;
    display: none;
  }
    
  .element__trash-button:hover {
    opacity: .5;
  }