.login__container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
}